@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card-container {
  @apply max-w-sm w-full rounded-xl bg-white;
}

.card-header {
  @apply flex flex-row justify-between pt-4 pl-4 pr-4;
}

.card-title {
  @apply text-gray-900 font-bold text-xl mb-2;
}

.card-value {
  @apply text-gray-700 text-4xl;
}

.toggle-switch {
  @apply relative inline-block w-11 h-6;
}

.toggle-switch input {
  @apply hidden;
}

.slider {
  @apply absolute bg-gray-300 rounded-full top-0 left-0 right-0 bottom-0 transition-colors duration-300 cursor-pointer;
}

.slider::before {
  content: "";
  @apply absolute w-4 h-4 bg-white rounded-full top-1 left-1 transition-transform duration-300;
}

.toggle-switch input:checked + .slider {
  @apply bg-blue-500;
}

.toggle-switch input:checked + .slider::before {
  transform: translateX(1.25rem); /* 20px */
}